.white-bg {
  background-image: url(../../Style/bg/white_wall.png);
  height: 129.2px;
}

.color-bg {
  background-color: #08726c;
  height: 100vh;
  font-family: Raleway;
  width: 100%;
}

@media only screen and (max-width: 390px) {
  .color-bg {
    height: 120vh;
  }
}

@media only screen and (max-width: 375px) {
  .color-bg {
    height: 118vh;
  }
}

@media only screen and (max-width: 320px) {
  .color-bg {
    height: 170vh;
  }
}
