@font-face {
  font-family: Calibrib;
  src: local("calibrib"),
    url("../Style/calibrib.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
}
@font-face {
  font-family: Calibril;
  src: local("calibril"),
    url("../Style/calibril.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
}

.bg-white-profile {
  position: absolute;
  width: 100%;
  height:auto;
  /* min-height: 100vh; */
  align-self: center;
  background-size:cover;
  background-image: url("../Style/bg/white_wall.png");
}
