.bgwhite {
  position: absolute;
  /* margin-top: -50px; */
  width: 100vw;
  min-height: 100vh;
  align-self: center;
  background-size:cover;
  background-image: url("../Style/bg/white_wall.png");
}

.profile-picture{
  display: block;
  width: 125px;
  height: 125px;
  position: relative;
  /* margin: -55px 0 0 -150px; */
  padding: 7.7px 7.7px 7.7px 7.7px;
}