/* .locationsCard {
  display: flex;
  flex-direction: row;
}
.checkin {
  display: flex;
  height: 167.5px;
  width: 100vw;
  background-color: white;
}

.checkout {
  background-color: rgba(87, 99, 202, 0.719);
  display: flex;
  height: 167.5px;
  width: 100vw;
} */
