.details_checkin {
  position: absolute;
  display: flex;
}

.location-carousel {
  height: 230px;
}
.all-info {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background-color: white;
  padding-top: 30px;
  padding-left: 30px;
  width: 100vw;
}
.description {
  background-color: #ebeadf;
}

.details_checkout {
}

.button-container {
  padding: 40px;
}
.button-checkin {
  background-color: #f8c962;
  height: 66px;
  width: 100vw;
  padding: 0px;
  border: none;
  border-radius: 10px;
}
.button-checkout {
  background-color: #38b6ff;
  height: 66px;
  width: 100vw;
  padding: 0px;
  border: none;
  border-radius: 10px;
}
