#map {
  border: 2px;
  width: 80vw;
  height: 80vh;
}

.search-container {
  display: flex;
  flex-direction: column;
  background-color: #ebeadf;
}

.search-icons {
  padding-top: 10px;
  height: 129px;
  display: flex;
}

.locations-js {
  display: flex;
  flex-direction: column;
}
