@font-face {
  font-family: Raleway;
  src: local("Raleway-Regular"),
    url("./components/Style/Raleway-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

#root{
  height:100%;
}

.react-tel-input{
  opacity: .9;
  max-width: 285px;
}
