#carousel{
  min-height: 150px;
  max-height: 200px;
  width: 100vw;
  margin-left: 10px;
}
.slick-list{
  padding:0 20% 0 0;
}

.slick-slider{
  height: 200px;
}

.slick-dots{
  margin-top: -50px;
}

.carousel-card{
  margin: 10px;
  height: 150px;
  max-width: 200px;
  
  display: grid;
  grid-template-areas: 
  "image"
  "image"
  "image"
  "image"
  "image"
  "image"
  "image"
  "name"
  "rating";
}

.carousel-card__image{
  grid-area: image;
  height: 100%;
  border-radius: 10px;

  width: 100%;
  max-width: 100%;
}

.carousel-card__location-name{
  grid-area: name;
  height: 0px;
}
.carousel-card__location-rating{
  grid-area: rating;
  height: 0;
}

a{
  color: #000;
  text-decoration: none;
}