/* #carousel-community-updates{
  min-height: 50px;
  max-height: 450px;
  width: 100vw;
} */
#carousel-community-updates .slick-slide{
  max-height: 270px !important;
}
.slick-list, .slick-track, .slick-slider{
  max-height: 250px !important;
  padding: none !important
}

.slick-dots, .slick-dots li.slick-active button:before{
  color: #F8C861;
}
.slick-dots{
  display: none
}

.cu-carousel-card__image{
  border-radius: 10px;
  justify-self: center;
  height: 90%;
  width: 90%;
}

@media screen and (max-width: 360px) {
  .slick-list, .slick-track, .slick-slider{
    max-height: 150px !important;
  }
}
@media screen and (max-width: 425px) {
  .slick-list, .slick-track, .slick-slider{
    max-height: 150px !important;
  }
}

@media screen and (min-width: 680px) {
  .slick-list, .slick-track, .slick-slider{
    max-height: 300px !important;
  }
}

@media screen and (min-width: 790px) {
  .slick-list, .slick-track, .slick-slider{
    max-height: 350px !important;
  }
}